page-consuldetailpage {
    .detailimage{
        margin-top: -27px;
    }

    .line-break{
        overflow: inherit ;
        text-overflow: inherit ;
        white-space: normal;
        margin-bottom: 7px;
    }

    .studentdetails {
        margin-left: -22px;
        margin-bottom: -14px;
    }

}
