<ion-header>
  <ion-navbar>
    <ion-title>{{ selectedRoom }}</ion-title>
    <ion-buttons right>
      <button
        ion-button
        outline
        small
        (click)="chooseWeek()"
        [disabled]="availableWeek && availableWeek.length === 0"
        class="notification-button colored-border"
      >
        {{ (selectedDate | date) || "Weeks" }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <ion-segment
      *ngIf="availableDate"
      [ngModel]="selectedDate | date: 'E' | uppercase"
      (ngModelChange)="
        selectedDate = availableDate[availableDays.indexOf($event)]
      "
    >
      <!-- Use CSS for dynamically updated segment -->
      <ion-segment-button
        *ngFor="let d of wday; index as i"
        [value]="d"
        [style.display]="'inline-block'"
      >
        {{ d }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <span
    *ngFor="
      let t of (timetable$
        | async
        | in: selectedRoom
        | filterday: selectedDate);
      trackBy: trackByIndex
    "
  >
    <ng-template [ngIf]="t.MODID !== 'FREE'" [ngIfElse]="free">
      <ion-card
        class="p-0 my-1 mx-0"
        [style.borderLeft]="'0.4rem solid ' + strToColor(t.MODID)"
      >
        <ion-card-header>
          <div class="container">
            <h2>{{ t.MODID }}</h2>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="container">
            <ion-label no-margin>
              <ion-icon padding-right name="time"></ion-icon>
              <b>{{ t.TIME_FROM }}</b> -
              <b>{{ t.TIME_TO }}</b>
            </ion-label>
            <ion-label no-margin>
              <ion-icon padding-right name="arrow-forward"></ion-icon>
              <b> {{ t.INTAKE }}</b>
            </ion-label>
            <ion-label no-margin>
              <a (click)="openStaffDirectoryInfo(t.SAMACCOUNTNAME)">
                <ion-icon padding-right name="contact"></ion-icon>
                {{ t.NAME }}
              </a>
            </ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #free>
      <ion-card class="free p-0 my-1 mx-0">
        <ion-card-header>
          <div class="container">
            <strong>FREE</strong>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="container">
            <ion-label no-margin>
              <ion-icon padding-right name="time"></ion-icon>
              <b>{{ t.TIME_FROM }}</b> -
              <b>{{ t.TIME_TO }}</b>
            </ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </span>
</ion-content>
