page-iconsult {
    ion-card {
        width: 99% !important;
        &.bookedcard {
            border-left: 0.4rem solid #d5040a;
        }
        &.Availablecard {
            border-left: 0.4rem solid #2ecc71;
            ion-card-header{
                h2{
                    font-weight: 500 !important;
                }
            }
        }
        ion-card-content {
            .btn-outline-dark {
                border-radius: 5px;
            }
        }
    }
    ion-badge {
        &.availableHour {
            background-color: #2ecc71;
        }
        &.bookedHour {
            background-color: #d5040a !important;
        }
    }
}