page-password-recovery {
  ion-input input{
    margin: 0px !important;
    padding: 8px !important;
  }
  .ion-input-hint-asnwer{
    padding-right:11px;
    padding-left:10px;
  }
  .ion-input-hint{
    padding-right:17px;
    padding-left: 19px;
  }
  .ion-security-box{
    height: 40px;
  }
  .ion-security-box-question{
    height: 35px;
  }
  .ion-security-submit{
    color: #fff;
    font-size: 14px;
    background-color: #989aa2;
    border: 0px;
    height: 40px;
  }

}
