<ion-header no-border>
  <ion-navbar>
    <ion-title>Fees</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container p-0">
  <ng-template
    let-totalSummary
    [ngIf]="totalSummary$ | async"
    [ngIfElse]="loadingTotalSummary"
  >
    <ion-card
      class="total-summary"
      [style.color]="
        totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
      "
      [style.boxShadow]="
        totalSummary[0].TOTAL_OUTSTANDING == 0
          ? '1px 1px 2px #0dbd53, -1px -1px 2px #0dbd53'
          : '1px 1px 2px #f04141, -1px -1px 2px #f04141'
      "
      padding
    >
      <ion-item
        class="total-summary"
        [style.color]="
          totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
        "
      >
        Total Payable
        <ion-note
          [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          "
          item-right
          >{{ (totalSummary[0]?.TOTAL_PAYABLE || 0) | currency:'MYR':'RM' }}</ion-note
        >
      </ion-item>
      <ion-item
        class="total-summary"
        [style.color]="
          totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
        "
      >
        Total Paid
        <ion-note
          [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          "
          item-right
          >{{ (totalSummary[0]?.TOTAL_PAID || 0) | currency:'MYR':'RM' }}</ion-note
        >
      </ion-item>
      <ion-item
        class="total-summary"
        [style.color]="
          totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
        "
      >
        Total Outstanding
        <ion-note
          [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          "
          item-right
          >{{ (totalSummary[0]?.TOTAL_OUTSTANDING || 0) | currency:'MYR':'RM' }}</ion-note
        >
      </ion-item>
      <ion-item
        class="total-summary"
        [style.color]="
          totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
        "
      >
        Total Overdue
        <ion-note
          [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          "
          item-right
          >{{ (totalSummary[0]?.TOTAL_OVERDUE || 0) | currency:'MYR':'RM' }}</ion-note
        >
      </ion-item>
      <ion-item
        class="total-summary"
        [style.color]="
          totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
        "
      >
        Fine
        <ion-note
          item-right
          [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          "
          >{{ (totalSummary[0]?.FINE || 0) | currency:'MYR':'RM' }}</ion-note
        >
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template #loadingTotalSummary>
    <ion-card>
      <ion-item>
        <skeleton-item height="230px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template let-bankDrafts [ngIf]="bankDraft$ | async">
      <ion-segment [(ngModel)]="selectedSegment">
          <ion-segment-button value="Summary">Summary</ion-segment-button>
          <ion-segment-button *ngIf="bankDrafts[0].BANKDRAFT_AMOUNT !== 0" value="Bank Draft">SU Fees</ion-segment-button>
          <ion-segment-button value="Details">Details</ion-segment-button>
        </ion-segment>
  </ng-template>

  <ng-container [ngSwitch]='selectedSegment'>

    <ng-container *ngSwitchCase="'Summary'">
      <ng-template
        let-summaries
        [ngIf]="summary$ | async"
        [ngIfElse]="loadingSummary"
      >
        <ion-card *ngFor="let summary of summaries">
          <h4 margin>{{ summary.INVOICE_DESCRIPTION }}</h4>
          <ion-card-content no-padding>
            <ion-item>
              Due Date
              <ion-note color="text-color" item-right>
                {{ summary.PAYMENT_DUE_DATE || 'N/A' }}
              </ion-note>
            </ion-item>
            <ion-item>
              Amount Payable
              <ion-note color="text-color" item-right>
                {{ (summary.PAYABLE_AMOUNT | currency:'MYR':'RM') || 'N/A' }}
              </ion-note>
            </ion-item>
            <ion-item>
              Total Collected
              <ion-note color="text-color" item-right>
                {{ (summary.TOTAL_COLLECTED | currency:'MYR':'RM') || 'N/A' }}
              </ion-note>
            </ion-item>
            <ion-item>
              Outstanding
              <ion-note color="text-color" item-right>
                {{ (summary.OUTSTANDING | currency:'MYR':'RM') || 'N/A' }}
              </ion-note>
            </ion-item>
            <ion-item>
              Fine
              <ion-note color="text-color" item-right>
                {{ (summary.FINE | currency:'MYR':'RM') || 'N/A' }}
              </ion-note>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-template>
      <ng-template #loadingSummary>
        <ion-card>
          <ion-item>
            <skeleton-item height="210px" width="100%"></skeleton-item>
          </ion-item>
        </ion-card>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'Bank Draft'">
        <ng-template
          let-bankDrafts
          [ngIf]="bankDraft$ | async"
          [ngIfElse]="loadingBankDraft"
        >
          <ion-card *ngFor="let bankDraft of bankDrafts">
            <ion-list-header>
                {{ bankDraft.COURSE_CODE || 'Course Code' }}
            </ion-list-header>
            <ion-card-content no-padding>
              <ion-item>
                Amount Payable
                <ion-note color="text-color" item-right>
                    {{ bankDraft.BANKDRAFT_AMOUNT | currency:'GBP' }}
                </ion-note>
              </ion-item>
              <ion-item>
                Due Date
                <ion-note color="text-color" item-right>
                    {{ bankDraft.BANKDRAFT_DUE_DATE }}
                </ion-note>
              </ion-item>
              <ion-item>
                Date Collected
                <ion-note color="text-color" item-right>
                    {{ bankDraft.DATE_COLLECTED }}
                </ion-note>
              </ion-item>
              <ion-item>
                Registration Date
                <ion-note color="text-color" item-right>
                  {{ bankDraft.REGISTRATION_DATE }}
                </ion-note>
              </ion-item>
              <ion-item>
                Amount Collected
                <ion-note color="success" item-right>
                    {{ bankDraft.AMOUNT_COLLECTED | currency:'GBP' }}
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
        <ng-template #loadingBankDraft>
          <ion-card>
            <ion-item>
              <skeleton-item height="210px" width="100%"></skeleton-item>
            </ion-item>
          </ion-card>
        </ng-template>
      </ng-container>

    <ng-container *ngSwitchCase="'Details'">
        <ng-template
          let-details
          [ngIf]="detail$ | async"
          [ngIfElse]="laodingDetails"
        >
          <ion-card *ngFor="let detail of (details | rev)">
            <h4 margin>{{ detail.ITEM_DESCRIPTION }}</h4>
            <ion-card-content no-padding>
              <ion-item>
                Due Date
                <ion-note color="text-color" item-right>
                  {{ detail.DUE_DATE }}
                </ion-note>
              </ion-item>
              <ion-item>
                Amount Payable
                <ion-note color="text-color" item-right>
                    {{ isNumber(detail.AMOUNT_PAYABLE)
                      ? (detail.AMOUNT_PAYABLE | currency:'MYR':'RM')
                      : detail.AMOUNT_PAYABLE }}
                </ion-note>
              </ion-item>
              <ion-item>
                Total Collected
                <ion-note item-right>
                    {{ isNumber(detail.TOTAL_COLLECTED)
                      ? (detail.TOTAL_COLLECTED | currency:'MYR':'RM')
                      : detail.TOTAL_COLLECTED }}
                </ion-note>
              </ion-item>
              <ion-item [style.color]="detail.OUTSTANDING>0 ? 'rgb(240, 65, 65)': ''">
                Outstanding
                <ion-note [style.color]="detail.OUTSTANDING>0 ? 'rgb(240, 65, 65)': ''" item-right>
                    {{ isNumber(detail.OUTSTANDING)
                      ? (detail.OUTSTANDING | currency:'MYR':'RM')
                      : detail.OUTSTANDING }}
                </ion-note>
              </ion-item>
              <ion-item [style.color]="detail.FINE>0 ? 'rgb(240, 65, 65)': ''">
                Fine
                <ion-note [style.color]="detail.FINE>0 ? 'rgb(240, 65, 65)': ''" item-right>
                    {{ isNumber(detail.FINE)
                      ? (detail.FINE | currency:'MYR':'RM')
                      : detail.FINE }}
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
        <ng-template #laodingDetails>
          <ion-card>
            <ion-item>
              <skeleton-item height="210px" width="100%"></skeleton-item>
            </ion-item>
          </ion-card>
        </ng-template>
      </ng-container>

  </ng-container>
</div>

</ion-content>
