<ion-header no-border>
  <ion-navbar>
    <ion-title>Staff Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-template let-staff [ngIf]="staff$ | async">
    <div class="cover-page"></div>
    <div class="container info-items px-4 py-3">
      <div class="info-items-inner">
        <div class="row">
          <div class="col-12 staff-directory-info-header">
            <img
              id="staffImg"
              [class.hideImage]="!imageLoaded"
              [src]="
                'https://d37plr7tnxt7lb.cloudfront.net/' + staff.RefNo + '.jpg'
              "
              (load)="hideImageLoading()"
              onerror="this.src='assets/img/profile.svg'; this.style.padding='5px'; this.style.boxShadow='none'"
            />
            <div class="row" *ngIf="!imageLoaded">
              <div class="col-6 m-auto">
                <skeleton-item height="225px" width="180px"></skeleton-item>
              </div>
            </div>
          </div>

          <div class="col-12 text-center info-item name mb-3 mt-5">
            <h2 class="h1">
              {{ staff.FULLNAME }}
            </h2>
            <button
              class="btn btn-outline-dark mt-3 consult-btn"
              (click)="GoToIconsult(staff.ID, staff.EMAIL)"
            >
              Book Consultation Hour
            </button>
          </div>

          <div class="col-12 info-item text-md-center title my-2">
            <p class="m-0 p-0">Job Title:</p>
            <h3 class="pt-1 pl-3">{{ staff.TITLE }}</h3>
          </div>

          <div class="col-12 info-item email text-md-center my-2" *ngIf="staff.EMAIL">
            <p class="m-0 p-0">Email Address:</p>
            <a href="mailto:{{ staff.EMAIL }}">
              <h3 class="pt-1 pl-3">{{ staff.EMAIL }}</h3>
            </a>
          </div>

          <div class="col-12 info-item location text-md-center my-2" *ngIf="staff.LOCATION">
            <p class="m-0 p-0">Office Location:</p>
            <h3 class="pt-1 pl-3">{{ staff.LOCATION }}</h3>
          </div>

          <div class="col-12 info-item contact text-md-center my-2" *ngIf="staff.EXTENSION">
            <p class="m-0 p-0">Contact Number:</p>
            <a href="tel:+60389961000">
              <h3 class="pt-1 pl-3">
                +6 03-8996 1000 (Ext. {{ staff.EXTENSION }})
              </h3>
            </a>
          </div>

          <div
            class="col-12 info-item area mt-2 text-md-center"
            *ngIf="staff.DEPARTMENT || staff.DEPARTMENT2 || staff.DEPARTMENT"
          >
            <p class="m-0 p-0">Functional Area(s):</p>
            <ul class="list-unstyled pt-2 pl-3">
              <li *ngIf="staff.DEPARTMENT" class="py-1">
                <h3 class="h4" [innerHTML]="staff.DEPARTMENT"></h3>
              </li>
              <li *ngIf="staff.DEPARTMENT2" class="py-1">
                <h3 class="h4" [innerHTML]="staff.DEPARTMENT2"></h3>
              </li>
              <li *ngIf="staff.DEPARTMENT3" class="py-1">
                <h3 class="h4" [innerHTML]="staff.DEPARTMENT3"></h3>
              </li>
            </ul>
          </div>
          <div class="col-12 info-item area mt-2 text-md-center">
            <p class="m-0 p-0">Timetable:</p>
            <lecturer-timetable [id]="staff.ID"></lecturer-timetable>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>
