page-dashboard {
  .main {
    margin-top: 30px;
    .profile-section {
      margin-bottom: 10px;
      .username {
        font-weight: normal !important;
      }
      .notification-wrapper {
        border-radius: 10px;
        padding: 3px 1px 0 1px;
        width: 85%;
        font-size: 1.7em;
      }
    }
    .quick-access {
      margin-bottom: 25px;
      box-shadow: none;
      .special-conainer {
        padding-left: 9px !important;
        padding-right: 9px !important;
        ion-scroll[scrollX] {
          white-space: nowrap;
          height: 130px;
          overflow: hidden;
          .scroll-item {
            display: inline-block;
          }
        }
      }
      .col-4 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 12px !important;
        padding-left: 0px !important;
      }
      .col-4:first-child {
        padding-left: 7px !important;
      }
      .col-4:last-child {
        padding-right: 7px !important;
      }
      .quick-access-item {
        border-radius: 4px;
        text-align: center;
        padding: 5px 0px !important;
        ion-icon {
          font-size: 2em;
        }
      }
      .quick-access-item-title {
        position: relative;
        top: 10%;
        font-weight: bold;
        font-size: 0.8em;
        margin-top: 5px;
        .second-line {
          display: block;
        }
      }
      .quick-access-item-subtitle {
        position: relative;
        top: 30%;
        font-weight: bold;
        margin-top: 5px;
      }
    }
    .financials-section {
      .content-item-with-icon {
        padding-right: 0 !important;
        padding-top: 4px;
      }
      .section-body {
        .progress {
          width: 100%;
          height: 20px;
        }
      }
      .section-body-header {
        span {
          font-weight: normal;
          font-size: 1.4rem;
        }
      }
    }
    .ct-label {
      fill: #fff !important;
      color: #fff !important;
      font-size: 0.89rem !important;
    }
    .low-attendance-section {
      .section-body {
        padding-top: 0px;
        .low-attendance-div {
          .attendance-chart-div {
            padding: 0 3px 3px 3px;
          }
          .low-attendance-details {
            margin-top: 7px;
            margin-bottom: 7px;
          }
        }
        .low-attendance-pills {
          padding: 7px;
          .nav-pills-div {
            padding: 5px;
          }
        }
      }
    }
  }

  .todaysClass{
    &:nth-child(1){
      border-left: 5px solid #7a2811;
    }  
    &:nth-child(2){
      border-left: 5px solid #223a50;
    }  
    &:nth-child(3){
      border-left: 5px solid #345344;
    }   
    &:nth-child(4){
      border-left: 5px solid #4e354c;
    }  
    &:nth-child(5){
      border-left: 5px solid #634832;
    }  
    &:nth-child(6){
      border-left: 5px solid #742123;
    }  
    &:nth-child(7){
      border-left: 5px solid #1d1b1b;
    }  
    &:nth-child(8){
      border-left: 5px solid #96564e;
    }  
  }

  // WEB VERSION
  @media only screen and (min-width: 768px) {
    .sections-wrapper{
      .section{
        border-width:  1px 1px 1px 5px !important;
      }
    }

    .quick-access {
      .quick-access-item {
        .second-line {
          display: inline !important;
        }
      }
    }
  }

  // NOTIFICATION CLASSES & ANIMATION
  .badge {
    position: absolute;
    right: 17px;
    top: -8px;
    font-size: 1.3rem;
    border-radius: 6px;
    border: 1px solid white;
  }

  .animate-bell {
    -webkit-animation: ring 4s 0.7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s 0.7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50% 4px;
  }

  @-webkit-keyframes ring {
    0% {
      -webkit-transform: rotateZ(0);
    }
    1% {
      -webkit-transform: rotateZ(30deg);
    }
    3% {
      -webkit-transform: rotateZ(-28deg);
    }
    5% {
      -webkit-transform: rotateZ(34deg);
    }
    7% {
      -webkit-transform: rotateZ(-32deg);
    }
    9% {
      -webkit-transform: rotateZ(30deg);
    }
    11% {
      -webkit-transform: rotateZ(-28deg);
    }
    13% {
      -webkit-transform: rotateZ(26deg);
    }
    15% {
      -webkit-transform: rotateZ(-24deg);
    }
    17% {
      -webkit-transform: rotateZ(22deg);
    }
    19% {
      -webkit-transform: rotateZ(-20deg);
    }
    21% {
      -webkit-transform: rotateZ(18deg);
    }
    23% {
      -webkit-transform: rotateZ(-16deg);
    }
    25% {
      -webkit-transform: rotateZ(14deg);
    }
    27% {
      -webkit-transform: rotateZ(-12deg);
    }
    29% {
      -webkit-transform: rotateZ(10deg);
    }
    31% {
      -webkit-transform: rotateZ(-8deg);
    }
    33% {
      -webkit-transform: rotateZ(6deg);
    }
    35% {
      -webkit-transform: rotateZ(-4deg);
    }
    37% {
      -webkit-transform: rotateZ(2deg);
    }
    39% {
      -webkit-transform: rotateZ(-1deg);
    }
    41% {
      -webkit-transform: rotateZ(1deg);
    }

    43% {
      -webkit-transform: rotateZ(0);
    }
    100% {
      -webkit-transform: rotateZ(0);
    }
  }

  @-moz-keyframes ring {
    0% {
      -moz-transform: rotate(0);
    }
    1% {
      -moz-transform: rotate(30deg);
    }
    3% {
      -moz-transform: rotate(-28deg);
    }
    5% {
      -moz-transform: rotate(34deg);
    }
    7% {
      -moz-transform: rotate(-32deg);
    }
    9% {
      -moz-transform: rotate(30deg);
    }
    11% {
      -moz-transform: rotate(-28deg);
    }
    13% {
      -moz-transform: rotate(26deg);
    }
    15% {
      -moz-transform: rotate(-24deg);
    }
    17% {
      -moz-transform: rotate(22deg);
    }
    19% {
      -moz-transform: rotate(-20deg);
    }
    21% {
      -moz-transform: rotate(18deg);
    }
    23% {
      -moz-transform: rotate(-16deg);
    }
    25% {
      -moz-transform: rotate(14deg);
    }
    27% {
      -moz-transform: rotate(-12deg);
    }
    29% {
      -moz-transform: rotate(10deg);
    }
    31% {
      -moz-transform: rotate(-8deg);
    }
    33% {
      -moz-transform: rotate(6deg);
    }
    35% {
      -moz-transform: rotate(-4deg);
    }
    37% {
      -moz-transform: rotate(2deg);
    }
    39% {
      -moz-transform: rotate(-1deg);
    }
    41% {
      -moz-transform: rotate(1deg);
    }

    43% {
      -moz-transform: rotate(0);
    }
    100% {
      -moz-transform: rotate(0);
    }
  }

  @keyframes ring {
    0% {
      transform: rotate(0);
    }
    1% {
      transform: rotate(30deg);
    }
    3% {
      transform: rotate(-28deg);
    }
    5% {
      transform: rotate(34deg);
    }
    7% {
      transform: rotate(-32deg);
    }
    9% {
      transform: rotate(30deg);
    }
    11% {
      transform: rotate(-28deg);
    }
    13% {
      transform: rotate(26deg);
    }
    15% {
      transform: rotate(-24deg);
    }
    17% {
      transform: rotate(22deg);
    }
    19% {
      transform: rotate(-20deg);
    }
    21% {
      transform: rotate(18deg);
    }
    23% {
      transform: rotate(-16deg);
    }
    25% {
      transform: rotate(14deg);
    }
    27% {
      transform: rotate(-12deg);
    }
    29% {
      transform: rotate(10deg);
    }
    31% {
      transform: rotate(-8deg);
    }
    33% {
      transform: rotate(6deg);
    }
    35% {
      transform: rotate(-4deg);
    }
    37% {
      transform: rotate(2deg);
    }
    39% {
      transform: rotate(-1deg);
    }
    41% {
      transform: rotate(1deg);
    }

    43% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(0);
    }
  }
}
