<ion-header no-border>
  <ion-navbar>
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container p-0">
    <div class="row mt-3">
      <div class="col-12 mt-2 mb-4">
        <p class="normaltext">
          This service can be used when you have any questions, concerns, or feature request related to the APSpace.
        </p>
        <p class="normaltext">
          The feedback will be received by the <span class="font-weight-bold">Centre of Technology and Innovation (CTI)</span>
          and we will do our best to keep up the standards so you enjoy our service.
        </p>
        <p class="font-weight-bold">
          Please note that your identity or contact information will BE REVEALED to the person receiving this Feedback. 
        </p>
        <p class="normaltext">
          If you have a feedback which is not related to the APSpace, you can use our 
          <a
            style="text-decoration: underline"
            class="colorful-text font-weight-bold"
            (click)="openOnlineFeedbackSystem()"
            >Online Feedback System</a
          >
          to send your feedback to the person who is in charge. 
        </p>
      </div>
    </div>
    <ion-item class="mt-3" no-padding>
      <ion-label stacked>Message <span style="color: red">*</span></ion-label>
      <ion-textarea
        #autofocus
        class="textarea"
        autosize
        row="1"
        [(ngModel)]="message"
        [disabled]="submitting"
        [ngModelOptions]="{ standalone: true }"
      >
      </ion-textarea>
    </ion-item>
    <ion-item class="mt-3" no-padding>
      <ion-label stacked>Contact Number</ion-label>
      <ion-input
        type="text"
        [disabled]="submitting"
        [(ngModel)]="contactNo"
        [ngModelOptions]="{ standalone: true }"
        (blur)="onExitingPhoneNumberField()"
        (ngModelChange)="onPhoneNumberChange()"
      >
      </ion-input>
    </ion-item>
    <small *ngIf="contactNo && !phoneNumberValid" style="color: red">Phone number is invalid. Please check the number and enter a correct phone number (Exactly 10 or 11 digits)</small>
    <br class="my-3" />
    <ion-item class="mt-3" no-padding>
      <ion-label stacked>Screen Size</ion-label>
      <ion-input disabled type="text" [value]="screenSize"></ion-input>
    </ion-item>
    <ion-item class="mt-3" no-padding>
      <ion-label stacked>Platform</ion-label>
      <ion-input disabled type="text" [value]="platform"></ion-input>
    </ion-item>
    <ion-item class="mt-3" no-padding>
      <ion-label stacked>Version</ion-label>
      <ion-input disabled type="text" [value]="appVersion"></ion-input>
    </ion-item>
    <button
      ion-button
      full
      (click)="submitFeedback()"
      class="submit-button mt-5"
      [disabled]="submitting || !message || !phoneNumberValid"
    >
      <span *ngIf="!submitting">
        Submit
      </span>
      <span *ngIf="submitting">
        Loading...
      </span>
    </button>
  </div>
</ion-content>
