page-feedback {
    ion-item {
        .item-inner {
            padding: 0px 0 0 10px;
        }
    }
    button[ion-button] {
        height: 3em;
    }
    .textarea {
        height: auto;
        div.input-wrapper {
            background-color: #fff;
            border-radius: 20px;
            textarea.text-input {
                margin-left: 8px;
            }
        }
    }
    .danger {
        background-color: color($colors, danger);
    }
}