<ion-header>
  <ion-navbar>
    <!--student view appointment details-->
    <ion-title>Appointment Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="card card-ios" *ngFor="let details of detail$ | async" padding>
    <!-- <ion-card-header class="detailimage">
      <ion-avatar item-start>
        <img src="assets/img/profile.svg" width="100" height="100">
      </ion-avatar>
    </ion-card-header> -->

    <ion-card-content>
      <ion-item class="lecturerdetails">
        <ion-icon name="person" item-start></ion-icon>
        <div class="row">
          <div class="col-12 py-1">
            <p>Lecturer Name:</p>
            <h2 class="my-content line-break">{{ details.lecname }}</h2>
          </div>
          <div class="col-12 py-1">
            <p>Lecturer Email:</p>
            <a
              href="mailto:{{ details.LecEmail }}"
              style="text-decoration:none;"
            >
              <h2 class="my-content line-break" style="color: currentColor;">
                {{ details.LecEmail }}
              </h2>
            </a>
          </div>
          <div class="col-12 py-1">
            <p>Consultation With:</p>
            <h2 class="my-content line-break">{{ details.con_with }}</h2>
          </div>
        </div>
      </ion-item>

      <ion-item class="lecturerdetails">
        <ion-icon name="time" item-start></ion-icon>
        <div class="row">
          <div class="col-12 py-1">
            <p>Date:</p>
            <h2>{{ details.datetime }}</h2>
          </div>
          <div class="col-12 py-1">
            <p>Time:</p>
            <h2>{{ details.contime }} - {{ details.endTime }}</h2>
          </div>
        </div>
      </ion-item>

      <ion-item class="lecturerdetails">
        <ion-icon name="pin" item-start></ion-icon>
        <div class="row">
          <div class="col-12 py-1">
            <p>Location:</p>
            <h2 class="my-content line-break">{{ details.location }}</h2>
          </div>
          <div class="col-12 py-1">
            <p>Venue:</p>
            <h2 class="my-content line-break">{{ details.venue }}</h2>
          </div>
        </div>
      </ion-item>

      <ion-item class="lecturerdetails">
        <ion-icon name="pricetags" item-start></ion-icon>
        <div class="row">
          <div class="col-12 py-1">
            <p>Appointment reason:</p>
            <h2 class="my-content line-break">{{ details.reason }}</h2>
          </div>
        </div>
      </ion-item>

      <ion-item class="lecturerdetails" *ngIf="details.note != ''">
        <ion-icon name="paper" item-start></ion-icon>
        <div class="row">
          <div class="col-12 py-1">
            <p>Appointment note:</p>
            <h2 class="my-content line-break">{{ details.note }}</h2>
          </div>
        </div>
      </ion-item>

      <ion-item
        class="lecturerdetails"
        *ngIf="details.status == 'cancelledbylec'"
      >
        <ion-icon name="document" item-start></ion-icon>
        <p>Cancel Reason:</p>
        <b class="my-content line-break">{{ details.cancelreason }}</b>
      </ion-item>

      <ion-item *ngIf="details.status != 'cancelledbylec'">
        <div class="row">
          <div class="col-12">
            <button
              class="cancel btn btn-outline-danger btn-block btn-lg"
              (click)="cancelslot()"
              style="text-transform: capitalizel"
            >
              Cancel Appointment
            </button>
          </div>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
