page-student-consul-detail {

    div.consultationNote{
        margin-top: 10px;
    }

    div.consultationNote .icon{
        margin-bottom: 5px;
    }

    .cancel{
        top: 21px;
        left: 28px;
    }

    .lecturerdetails {
        margin-left: -22px;
        margin-bottom: -14px;
    }

    .line-break{
        overflow: inherit ;
        text-overflow: inherit ;
        white-space: normal;
        margin-bottom: 7px;
    }

    .detailimage{
        margin-top: -27px;
    }

}
