page-results {
  ion-card {
    &.failed {
      border: 1px solid #f04141;
      .subj-title,
      .item-content {
        color: #f04141 !important;
      }
    }
    ion-list {
      ion-item {
        &.subj-title {
          font-weight: 900;
        }
        ion-label {
          font-size: 90%;
          font-weight: lighter !important;
        }
      }
    }
  }
  .card-ios {
    border-radius: 10px;
  }
  .card-md {
    border-radius: 10px;
  }
  .scroll-content {
    background-color: map-get($colors, light);
  }
  .content-message {
    text-align: justify;
  }
  .warning-logo {
    color: #f04141 !important;
    display: block;
    font-size: 5em;
    text-align: center;
    color: white;
  }
}
