page-profile {
  .profile-info-section {
    .section-body-content {
      .profile-div {
        max-height: 140px;
        margin-top: 15px;
        img {
          height: 100%;
          border-radius: 15px;
        }
      }
      .info-div {
        margin-top: 15px;
        h1,
        h3,
        h4 {
          font-weight: bold;
        }
        a p{
          text-decoration: underline;
        }
      }
    }
  }
}
