<ion-header no-border>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- START MAIN -->
  <div class="main" id="main">
    <!-- START PAGE BODY -->
    <div class="main-content">
      <!-- START PAGE CONTAINER -->
      <div class="container">
        <!-- START SECTION 1: PERSONAL INFORMATION -->
        <div class="main-section section profile-info-section">
          <!-- START SECTION 1 BODY -->
          <div class="section-body">
            <div class="section-body-content row">
              <div class="col-12 text-center profile-div">
                <ng-template [ngIf]="studentRole" [ngIfElse]="lecturerRole">
                  <ng-template [ngIf]="photo$ | async" [ngIfElse]="loadingStudentsPhoto">
                    <img class="profile-photo" [src]="
                          'data:image/jpg;base64,' +
                          ((photo$ | async) || {}).base64_photo
                          " onerror="this.src='assets/img/profile.svg'" alt="Avatar" />
                  </ng-template>
                  <ng-template #loadingStudentsPhoto>
                    <skeleton-item class="d-flex justify-content-center" height="150px" width="35%"></skeleton-item>
                  </ng-template>
                </ng-template>

                <ng-template #lecturerRole>
                  <ng-template [ngIf]="staffProfile$ | async" [ngIfElse]="loadingLecturerPhoto">
                    <img class="profile-photo" [src]="(staffProfile$ | async)[0]?.PHOTO"
                      onerror="this.src='assets/img/profile.svg'" alt="Avatar" />
                  </ng-template>
                  <ng-template #loadingLecturerPhoto>
                    <skeleton-item class="d-flex justify-content-center" height="150px" width="35%"></skeleton-item>
                  </ng-template>
                </ng-template>
              </div>

              <ng-template [ngIf]="studentRole" [ngIfElse]="lecturerProfileRole">
                <ng-template let-profile [ngIf]="profile$ | async" [ngIfElse]="loadingStudentsProfile">
                  <div class="col-12 text-center info-div">
                    <h1>{{ profile.NAME }}</h1>
                    <h3>{{ profile.STUDENT_NUMBER }} | {{ profile.INTAKE }}</h3>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>Programme</h4>
                    <p>{{ profile.PROGRAMME }}</p>
                  </div>

                  <div class="col-12 text-center info-div">
                    <ng-template [ngIf]="profile.MENTOR_SAMACCOUNTNAME" [ngIfElse]="mentorLost">
                      <a (click)="openStaffDirectoryInfo(profile.MENTOR_SAMACCOUNTNAME)" class="font-weight-bold">
                        <h4>Mentor Name</h4>
                        <p>{{ profile.MENTOR_NAME }}</p>
                      </a>
                    </ng-template>
                    <ng-template #mentorLost>
                      <h4>Mentor Name</h4>
                      <p>{{ profile.MENTOR_NAME }}</p>
                    </ng-template>
                  </div>

                  <div class="col-12 text-center info-div">
                    <ng-template [ngIf]="profile.PL_SAMACCOUNTNAME" [ngIfElse]="plLost">
                      <a (click)="openStaffDirectoryInfo(profile.PL_SAMACCOUNTNAME)" class="font-weight-bold">
                        <h4>Programme Leader</h4>
                        <p>{{ profile.PL_NAME }}</p>
                      </a>
                    </ng-template>
                    <ng-template #plLost>
                      <h4>Programme Leader</h4>
                      <p>{{ profile.PL_NAME }}</p>
                    </ng-template>
                  </div>

                  <div class="col-12 text-center info-div" *ngIf='!local'>
                    <ng-template let-visa [ngIf]='visa$ | async'>
                      <ng-template [ngIf]='visa[0].VISA_EXPIRY_DATE' [ngIfElse]='noVisa'>
                        <h4>Student Pass Expiry Date</h4>
                        <p>
                          {{ visa[0].VISA_EXPIRY_DATE | date: 'dd-LLL-yyyy' }}
                        </p>
                      </ng-template>
                    </ng-template>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>Country</h4>
                    <p>{{ profile.COUNTRY }}</p>
                  </div>
                </ng-template>
                <ng-template #loadingStudentsProfile>
                  <div class="col-12 mt-5">
                    <skeleton-item class="d-flex justify-content-center" height="35px" width="90%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="70%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                  </div>
                </ng-template>
              </ng-template>

              <ng-template #lecturerProfileRole>
                <ng-template let-staffProfile [ngIf]="staffProfile$ | async" [ngIfElse]="loadingStaffProfile">
                  <div class="col-12 text-center info-div">
                    <h1>{{ staffProfile[0].FULLNAME }}</h1>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>ID</h4>
                    <p>{{ staffProfile[0].ID }}</p>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>Title</h4>
                    <p>{{ staffProfile[0].TITLE }}</p>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>Nationality</h4>
                    <p>{{ staffProfile[0].NATIONALITY }}</p>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>Current Job Type</h4>
                    <p>{{ staffProfile[0].CURRENT_JOB_TYPE }}</p>
                  </div>

                  <div class="col-12 text-center info-div">
                    <h4>Department</h4>
                    <p>{{ staffProfile[0].DEPARTMENT }}</p>
                  </div>

                  <ng-template [ngIf]="staffProfile[0].DEPARTMENT1">
                    <div class="col-12 text-center info-div">
                      <h4>Department 1</h4>
                      <p>{{ staffProfile[0].DEPARTMENT1 }}</p>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="staffProfile[0].DEPARTMENT2">
                    <div class="col-12 text-center info-div">
                      <h4>Department 2</h4>
                      <p>{{ staffProfile[0].DEPARTMENT2 }}</p>
                    </div>
                  </ng-template>
                </ng-template>
                <ng-template #loadingStaffProfile>
                  <div class="col-12 mt-5">
                    <skeleton-item class="d-flex justify-content-center" height="35px" width="90%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="70%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center mt-5" height="25px" width="30%"></skeleton-item>
                    <skeleton-item class="d-flex justify-content-center" height="25px" width="60%"></skeleton-item>
                  </div>
                </ng-template>
              </ng-template>

            </div>
          </div>
          <!-- END SECTION 1 BODY -->
        </div>
        <!-- END SECTION 1: PROFILE -->
      </div>
      <!-- END OF PAGE CONTAINER -->
    </div>
    <!-- END PAGE BODY -->
  </div>
  <!-- END MAIN -->
</ion-content>