<ion-header>
  <ion-navbar>
    <ion-title>Enter Appointment Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="booking-details" style="margin-bottom:5px">
    <h2>{{ lecid }}</h2>
    <p>{{date | date:'EEEE, dd MMM y'}} ({{ datetime }} - {{ endTime }})
    </p>
  </ion-item>

  <ng-template let-verification [ngIf]='verifyslot$ | async'>
    <ng-template [ngIf]="verification.res == 'Duplicated'" [ngIfElse]='noduplicate'>
      <ion-label class="my-content line-break">
        You already have the consultation hour at this time
      </ion-label>
    </ng-template>

    <form [formGroup]="form">
      <ng-template #noduplicate>
        <ion-item class="my-2">
          <ion-label class="with required">Consultation With</ion-label>
          <ion-select [(ngModel)]="conWith" formControlName="bookwith" [(ngModel)]="booking.con_with"
            placeholder="Select One" class="with" interface="popover">
            <ion-option value="Lecturer">Lecturer</ion-option>
            <ion-option value="Masters Supervisor">Masters Supervisor</ion-option>
            <ion-option value="Doctoral Supervisor">Doctoral Supervisor</ion-option>
            <ion-option value="Internship Supervisor">Internship Supervisor</ion-option>
            <ion-option value="FYP Supervisor">FYP Supervisor</ion-option>
            <ion-option value="Academic Mentor">Academic Mentor</ion-option>
            <ion-option value="Programme Leader">Programme Leader</ion-option>
            <ion-option value="Head of School">Head of School</ion-option>
            <ion-option value="Dean">Dean</ion-option>
            <ion-option value="Registrar">Registrar</ion-option>
            <ion-option value="Manager Student Relations">Manager Student Relations</ion-option>
          </ion-select>
        </ion-item>
        <div style="margin: 0 15px; margin-bottom: 10px;">
          <ng-container *ngFor="let validation of validation_messages.bookwith">
            <div class="error-message"
              *ngIf="form.get('bookwith').hasError(validation.type) && (form.get('bookwith').dirty || form.get('bookwith').touched)">
              <ion-icon name="ios-alert-outline" class="errorAlertIcon" item-start></ion-icon>{{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="my-2">
          <ion-label class="field-title required" stacked>Reason for Appointment</ion-label>
          <ion-textarea [(ngModel)]="reason" formControlName="bookreason" [(ngModel)]="booking.reason">
          </ion-textarea>
        </ion-item>
        <div style="margin: 0 15px; margin-bottom: 10px;">
          <ng-container *ngFor="let validation of validation_messages.bookreason">
            <div class="error-message"
              *ngIf="form.get('bookreason').hasError(validation.type) && (form.get('bookreason').dirty || form.get('bookreason').touched)">
              <ion-icon name="ios-alert-outline" class="errorAlertIcon" item-start></ion-icon>{{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="my-2">
          <ion-label class="field-title" stacked>Contact Number</ion-label>
          <ion-input type="tel" formControlName="phonenumber" [(ngModel)]="telnumber" [(ngModel)]="booking.phone"
            placeholder="e.g. 0121234567">
          </ion-input>
        </ion-item>
        <div style="margin: 0 15px; margin-bottom: 10px;">
          <ng-container *ngFor="let validation of validation_messages.phonenumber">
            <div class="error-message"
              *ngIf="form.get('phonenumber').hasError(validation.type) && (form.get('phonenumber').dirty || form.get('phonenumber').touched)">
              <ion-icon name="ios-alert-outline" class="errorAlertIcon" item-start></ion-icon>{{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="my-2">
          <ion-label stacked class="field-title">Email Address</ion-label>
          <ion-input type="text" formControlName="stuemialaddress" [(ngModel)]="emialaddress" disabled
            [(ngModel)]="booking.email">
          </ion-input>
        </ion-item>
        <div style="margin: 0 15px; margin-bottom: 10px;">
          <ng-container *ngFor="let validation of validation_messages.stuemialaddress">
            <div class="error-message"
              *ngIf="form.get('stuemialaddress').hasError(validation.type) && (form.get('stuemialaddress').dirty || form.get('stuemialaddress').touched)">
              <ion-icon name="ios-alert-outline" class="errorAlertIcon" item-start></ion-icon>{{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item class="my-2 mx-1">
          <ion-label class="field-title" stacked>Note</ion-label>
          <ion-textarea [(ngModel)]="notes" [(ngModel)]="booking.note" [ngModelOptions]="{standalone: true}">
          </ion-textarea>
        </ion-item>
        <div class="button-wrapper p-3 mt-2">
          <button ion-button block (click)="confirmation()" class="btn btn-lg btn-dark"
            [disabled]="!booking.con_with || !booking.reason || !booking.email || !form.valid">
            Submit
          </button>
        </div>
      </ng-template>
    </form>
  </ng-template>

</ion-content>