<ion-header no-border>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
    <ion-buttons *ngIf="cordova" end>
      <button
        ion-button
        icon-only
        clear
        class="notification-button colored-border"
        (click)="toggleFilterMenu()"
      >
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" side="right" *ngIf="cordova">
  <ion-header>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleFilterMenu()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Filter Notifications</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="row">
      <div class="col-12">
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select
            [(ngModel)]="notificationCategory"
            (ngModelChange)="onFilter()"
          >
            <ion-option selected value="">Any</ion-option>
            <ion-option *ngFor="let category of categories" [value]="category">
              {{ category }}</ion-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Title</ion-label>
          <ion-input
            [(ngModel)]="notificationTitle"
            (ngModelChange)="onFilter()"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Sender</ion-label>
          <ion-input
            [(ngModel)]="notificationSender"
            (ngModelChange)="onFilter()"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Show</ion-label>
          <ion-select
            [(ngModel)]="showSelect"
            (ngModelChange)="toggleHistory()"
          >
            <ion-option selected value="all">All</ion-option>
            <ion-option value="unread">Unread messages only</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-content #content no-padding>
  <ng-template [ngIf]="cordova" [ngIfElse]="notCordova">
    <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="refresh"> </ion-refresher-content>
    </ion-refresher>

    <ng-container [ngSwitch]="notifications">
      <div *ngSwitchCase="'all'">
        <ng-template let-messages [ngIf]="filteredMessage$ | async">
          <div class="container">
            <div class="row">
              <div class="col-12" *ngFor="let category of objectKeys(messages)">
                <div class="row sticky-top">
                  <div
                    class="col-12 py-4 px-3 category"
                    [ngStyle]="{
                      background:
                        'linear-gradient(to right, ' +
                        messages[category].first_color +
                        ',' +
                        messages[category].second_color +
                        ')'
                    }"
                  >
                    <h3 class="mb-0">
                      {{ category }}
                    </h3>
                  </div>
                </div>
                <div
                  class="row p-3 notification"
                  *ngFor="let message of messages[category].items"
                  (click)="
                    openBasicModal(
                      message,
                      message.message_id,
                      category,
                      messages[category].first_color,
                      messages[category].second_color
                    )
                  "
                  [class.unread]="!message.read"
                >
                  <div class="col-2 notification-icon m-auto text-center">
                    <ion-icon
                      [name]="message.read ? 'mail-open' : 'mail'"
                      item-left
                    ></ion-icon>
                  </div>
                  <div class="col-10 notification-message">
                    <div class="row">
                      <div class="col-12 title">
                        <h4 class="mb-0">
                          {{ message.title }}
                        </h4>
                      </div>
                      <div class="col-12">
                        <small>{{ message.staff_name }}</small>
                      </div>
                      <div class="col-12">
                        <small>{{
                          message.message_id * 1000 | date: "EEE, d MMM y"
                        }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <div *ngSwitchCase="'unread'">
        <ng-template let-messages [ngIf]="filteredMessage$ | async">
          <div class="container" *ngIf="messages; else noUnreadMessage">
            <div class="row">
              <div class="col-12" *ngFor="let category of objectKeys(messages)">
                <div
                  class="row p-3 notification"
                  *ngFor="let message of (messages[category].items | unread)"
                  (click)="
                    openBasicModal(
                      message,
                      message.message_id,
                      category,
                      messages[category].first_color,
                      messages[category].second_color
                    )
                  "
                  [class.unread]="!message.read"
                >
                  <div class="col-2 notification-icon m-auto text-center">
                    <ion-icon
                      [name]="message.read ? 'mail-open' : 'mail'"
                      item-left
                    ></ion-icon>
                  </div>
                  <div class="col-6 notification-message">
                    <div class="row">
                      <div class="col-12 title">
                        <h4 class="mb-0">
                          {{ message.title }}
                        </h4>
                      </div>
                      <div class="col-12">
                        <small>{{ message.staff_name }}</small>
                      </div>
                      <div class="col-12">
                        <small>{{
                          message.message_id * 1000 | date: "EEE, d MMM y"
                        }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 m-auto text-center category-badge">
                    <span
                      class="badge"
                      [ngStyle]="{
                        background:
                          'linear-gradient(to right, ' +
                          messages[category].first_color +
                          ',' +
                          messages[category].second_color +
                          ')'
                      }"
                    >
                      {{ category }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noUnreadMessage>
            <h5 class="text-center p-4 notification-desktop">
              You do not have any unread messages
            </h5>
          </ng-template>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <ion-item *ngFor="let i of numOfSkeletons">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px" rounded></skeleton-item>
        </ion-avatar>
        <skeleton-item height="50px" width="100%"></skeleton-item>
        <skeleton-item height="5px" width="150px"></skeleton-item>
      </ion-item>
    </ng-container>
  </ng-template>
  <ng-template #notCordova>
    <h5 class="p-4 text-center notification-desktop">
      Notification is only available in the mobile application
    </h5>
  </ng-template>
</ion-content>
