page-notification {
  .message-time {
    font-size: 0.7em;
  }

  .message-btn {
    height: 75px;
  }

  .message_content {
    font-size: 0.8em;
  }

  .row {
    .notification {
      .notification-icon {
        ion-icon {
          font-size: 2.2rem;
        }
      }
      .notification-message {
        h4 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .category-badge {
        span {
          text-shadow: none;
          white-space: normal;
          font-weight: 500;
        }
      }
      &.unread {
        font-weight: 700;
      }
    }
  }
}
