// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Themes
@import "../theme/theme.dark";
@import "../theme/theme.light";

// Color Schemes
@import "../theme/color.blue.scss";
@import "../theme/color.green.scss";
@import "../theme/color.orange.scss";
@import "../theme/color.pink.scss";
@import "../theme/color.grey.scss";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:         #4da9ff,
  primary-shade:   #3171e0,
  primary-tint:    #4c8dff,
  secondary:       #0cd1e8,
  secondary-shade: #0bb8cc,
  secondary-tint:  #24d6ea,
  success:         #0dbd53,
  warn:            #fd5000,
  danger:          #f04141,
  danger-shade:    #d33939,
  danger-tint:     #f25454,
  dark:            #222428,
  dark-shade:      #1e2023,
  dark-hint:       #383a3e,
  medium:          #989aa2,
  medium-shade:    #86888f,
  medium-tint:     #a2a4ab,
  light:           #FFFFFF,
  light-shade:     #d7d8da,
  light-tint:      #f5f6f9,
  highlighter:     #bfbcbc,
  text-color:      #292525,
  dark-light:      #474747,
);

@font-face {
  font-family: 'Bungee';
  src: url('../assets/fonts/Bungee.woff2');
}

@font-face {
  font-family: 'Do Hyeon';
  src: url('../assets/fonts/Do_Hyeon.woff2');
}

@font-face {
  font-family: 'Francois One';
  src: url('../assets/fonts/Francois_One.woff2');
}





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$toolbar-md-background: color($colors, primary);
$tabs-md-tab-font-size: 1rem;
$tabs-md-tab-font-size-active: 1rem;
$tabs-md-tab-text-margin-start: 1px;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
