page-upcomingstd {
  div.consultationNote {
    margin-top: 10px;
  }

  div.consultationNote .icon {
    margin-bottom: 5px;
  }

  .cancelledbylec {
    background-color: #c02a2e;
  }

  .backbutton {
    text-transform: capitalize;
    margin-left: 3px;
  }

  .line-break {
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    font-family: initial;
    margin-top: 181px;
    margin-left: 20px;
    color: slategrey;
  }

  ion-card {
    ion-card-content {
      button {
        width: 100% !important;
      }
    }
  }
}
