page-addfreeslots {
  .item {
    font-size: 1.3rem;
    height: 40px;
  }

  .remove-card {
    width: 22px;
    top: -65px;
    height: 21px;
    background-color: #ff0000;
  }

  button[ion-button] {
    height: 3em;
    text-transform: capitalize;
  }

  ion-list:first-child {
    margin-top: 30px;
  }

  .repeatlabel {
    margin: 10px 0 3px 0;
  }

  .sundaySelectedMessage {
    color: #ff0000;
    font-size: 95%;
  }

  .startAndEndDateMessage {
    font-size: 95%;
  }

  .errorAlertIcon {
    margin-top: 2px;
    color: #ff0000;
  }
  .list-md .item-input:last-child {
    border-width: 0 !important;
  }

  .item-inner {
    box-shadow: none !important;
  }
}
