page-home-progress-report {
	.button-dev-wrapper {
		height: 200px;
		cursor: pointer;
		.menu-icon {
			position: absolute;
			font-size: 7rem;
		}
		.menu-text {
			position: absolute;
			bottom: 10px;
			left: 10px;
		}
	}
}
