<ion-header>
  <ion-navbar>
    <ion-title>My Consultation Hour</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngClass]="{'ListBackdrop':fabButtonOpened == true, 'noListBackdrop':fabButtonOpened == false}"
    *ngIf="fabButtonOpened==true" (click)="closeFabButton(fab)">
  </div>

  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <ng-template let-slots [ngIf]="slots$ | async" [ngIfElse]="loadingUpComLec">
    <ng-template [ngIf]="slots && slots.length > 0" [ngIfElse]="nodata">
      <ion-card class="card card-ios p-0 my-3 mx-auto" *ngFor="let slot of slots"
        [ngClass]="{'UnAvailablecard':slot.status == 'Unavailable', 'bookedcard':slot.status == 'Booked' && currenttime < slot.dateandtime, 'Availablecard':slot.status == 'Available', 'closedcard':slot.status == 'Clossed', 'passedCard':slot.status == 'Booked' && currenttime > slot.dateandtime}">
        <ion-card-header *ngIf="slot.status == 'Available'">
          <ion-badge class="available">Available</ion-badge>
          {{ slot.date | date:'EEEE, dd MMMM y'}}
        </ion-card-header>

        <ion-card-header *ngIf="slot.status == 'Booked' && currenttime < slot.dateandtime">
          <ion-badge class="bookedHour">Booked</ion-badge>
          {{ slot.date | date:'EEEE, dd MMMM y'}}
        </ion-card-header>

        <ion-card-header *ngIf="slot.status == 'Booked' && currenttime > slot.dateandtime">
          <ion-badge class="passedHour">Passed</ion-badge>
          {{ slot.date | date:'EEEE, dd MMMM y'}}
        </ion-card-header>

        <ion-card-header *ngIf="slot.status == 'Clossed'">
          <ion-badge class="closed">Cancelled</ion-badge>
          {{ slot.date | date:'EEEE, dd MMMM y'}}
        </ion-card-header>

        <ion-card-header *ngIf="slot.status == 'Unavailable'">
          <ion-badge class="unavailable">Unavailable</ion-badge>
          {{ slot.startdate | date:'EEEE, dd MMMM y' }}
        </ion-card-header>

        <ion-card-content style="padding-top: 10px;">
          <ion-label no-margin *ngIf="slot.status == 'Clossed'">
            <ion-icon padding-right name="time"></ion-icon>
            {{ slot.time }} - {{slot.endTime}}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Clossed'">
            <ion-icon padding-right name="locate"></ion-icon>
            {{ slot.venue }} │ {{ slot.location }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Booked'">
            <ion-icon padding-right name="time"></ion-icon>
            <b>{{ slot.time }} - {{ slot.endTime }}</b>
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Booked'">
            <ion-icon padding-right name="locate"></ion-icon>
            {{ slot.venue }} │ {{ slot.location }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Unavailable'">
            <ion-icon padding-right name="calendar"></ion-icon>
            <b>From : </b>
            {{ slot.startdate | date:'EEEE, dd MMMM y' }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Unavailable'">
            <ion-icon padding-right name="ios-calendar-outline"></ion-icon>
            <b>To : </b>
            {{ slot.enddate | date:'EEEE, dd MMMM y' }}
          </ion-label>

          <button class="btn btn-lg btn-block btn-outline-primary" *ngIf="slot.status == 'Unavailable'"
            style="margin-top: 10px;" (click)="openUnavailabledetailsPage(slot.unavailibilityid)">
            View Unavailability
          </button>

          <ion-label no-margin *ngIf="slot.status == 'Available'">
            <ion-icon padding-right name="time"></ion-icon>
            {{ slot.time }} - {{slot.endTime}}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Available'">
            <ion-icon padding-right name="locate"></ion-icon>
            {{ slot.venue }} │ {{ slot.location }}
          </ion-label>

          <button class="btn btn-lg btn-block btn-outline-primary" *ngIf="slot.status == 'Available'"
            style="margin-top: 10px;"
            (click)="closeAvailableSlots(slot.availibilityid, slot.slotid, slot.date, slot.time, slot.timee, slot.datetime, slot.venue, slot.location, slot.endTime)">
            Cancel slot
          </button>

          <div class="row mt-3" *ngIf="slot.status == 'Booked' && currenttime < slot.dateandtime">
            <div class="col-12"><button class="btn btn-lg btn-block btn-outline-primary"
                (click)="openDetailPage(slot.slotid, slot.status, slot.availibilityid, slot.date, slot.time, slot.timee, slot.datetime)">
                View Appointment Details</button></div>
          </div>

          <div class="row mt-3" *ngIf="slot.status == 'Booked' && currenttime > slot.dateandtime">
            <div class="col-12"><button class="btn btn-lg btn-block btn-outline-primary"
                (click)="openDetailPage(slot.slotid, slot.status, slot.availibilityid, slot.date, slot.time, slot.timee, slot.datetime)">
                Add Remarks</button></div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template #nodata>
      <ion-label class="my-content line-break">
        You have not set any consultation hours
      </ion-label>
    </ng-template>
  </ng-template>

  <ng-template #loadingUpComLec>
    <ion-card *ngFor="let sk of skeletonArray">
      <skeleton-item style="height: 160px;">
      </skeleton-item>
    </ion-card>
  </ng-template>

  <ion-fab right bottom #fab>
    <button ion-fab color="primary" (click)="openFabButton()">
      <ion-icon name="create"></ion-icon>
    </button>

    <ion-fab-list side="top">
      <button ion-fab color="danger" navPush="UnavailabilitySlotsPage">
        <ion-icon name="remove"></ion-icon>
        <ion-label class="label">Add Unavailability</ion-label>
      </button>

      <button ion-fab color="secondary" navPush="AddfreeslotsPage">
        <ion-icon name="add"></ion-icon>
        <ion-label class="label">Add Availability</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>