page-timetable {
  // FIXME: bootstrap mess
  .card-header {
    border-bottom: none;
  }

  ion-card {
    ion-card-content {
      a {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
      }
      ion-icon {
        vertical-align: -1.5px;
        padding-left: 4px;
      }
    }
  }

  .toolbar-ios ion-title {
    padding: 0 12px 1px;
  }

  .toolbar-title-ios {
    text-align: left;
  }
}
