page-unavailability-slots {
  .item {
    font-size: 1.3rem;
    height: 40px;
  }

  button[ion-button] {
    height: 3em;
    text-transform: capitalize;
  }

  .startAndEndDateMessage {
    font-size: 95%;
  }
  .repeatlabel {
    margin: 10px 0 3px 0;
  }
}
